[2019-04-02 14:36] Lotayou opened #4 "[FAQ] Common mistakes when parsing SMPL UV data"
@Lotayou (a.k.a myself) I just found that my SMPL UV data at hand is messed up, UV vertices' topology  does not match that of SMPL 3D mesh. Here's the result:

![3d_color](https://user-images.githubusercontent.com/33449901/55410919-40608200-5597-11e9-9e86-e4efcab59289.PNG)
![2d_color](https://user-images.githubusercontent.com/33449901/55410926-43f40900-5597-11e9-87f6-7feecc2cb748.png)

This error

[2019-04-02 14:52] radvani commented on #4
How did you extract the UV map? From the FBX file?

In the code it looks like you're parsing a file named 'SMPL_template_UV_map.obj'. Do you have that file in the repository?

[2019-04-02 15:16] Lotayou commented on #4
@radvani I downloaded the FBX file from official website and convert it into .obj using an [online converter ](http://www.greentoken.de/onlineconv/), the result is the aforementioned `SMPL_template_UV_map.obj`.
I'll upload the obj file for your evaluation.

[2019-04-02 15:20] radvani commented on #4
Interesting, today I'm trying to extract the UV map directly from the FBX file, using the FBX SDK. I will let you know if it looks different than yours (perhaps the FBX -> OBJ conversion corrupted something?)

[2019-04-02 15:27] Lotayou commented on #4
Cool! You can visualize the results with the following code snippets:
[code]

[2019-04-02 22:10] radvani commented on #4
Which FBX file were you using from the official website? Was it basicModel_f_lbs_10_207_0_v1.0.2, or basicModel_m_lbs_10_207_0_v1.0.2? My preliminary printout of texcoords from FBX show that they're different from what's in your OBJ file.

Also, regarding visualizing the results, I think I'm missing something. It looks like you're generating the human model (shown above) by creating the PLY file u

[2019-04-03 01:21] radvani commented on #4
Nevermind my first question above, it looks like you're using the female model. I generated a new OBJ and UV map directly from the FBX file and will try to test it now (still working through how to do that exactly).

[2019-04-03 01:31] Lotayou commented on #4
Weird. As I recall SMPL model is gender-independent, and I never bother to find the difference... I guess male model has an extra "part" eh?
It's not necessary to generate the whole map (that requires barycentric interpolation which is kinda tricky), I think the scatter plot (like the one on the right) will be adequate. For that you can just quantize the UV texture coordinates to integers (denpend

[2019-04-03 02:17] radvani commented on #4
Actually it may take me a bit to test this myself, but I've attached the OBJ I generated from the FBX SDK in case you want to try out. You can use your usual methods to generate the UV map from this (in get_SMPL_UV_map.py).

[smpl_torch.obj.zip](https://github.com/Lotayou/densebody_pytorch/files/3036588/smpl_torch.obj.zip)

[2019-04-03 03:37] radvani commented on #4
I'm getting the following when using __your__ OBJ file, and it seems fairly consistent?

<img width="511" alt="Screen Shot 2019-04-02 at 11 36 31 PM" src="https://user-images.githubusercontent.com/14915051/55451266-368f4c80-55a0-11e9-97a4-7db3f679911d.png">

I wonder if there's actually an issue in get_SMPL_UV_map, in that in your version you're creating a 1-1 mapping between texcoord indices and

[2019-04-03 09:07] Lotayou commented on #4
I think you got a point, it's indeed much safer to use face correspondences for UV plot... Think you can submit a PR?

[2019-04-03 14:16] radvani commented on #4
Sure, I think my changes broke the render method in that class but I'll fix that and submit a PR tonight.

[2019-04-03 23:13] radvani commented on #4
Submitted the PR! There's a new method in there as well for rendering the scatter plot; when you run get_SMPL_UV_map.py it spits out an image like the following. Let me know if looks right to you.

![SMPL_template_UV_map_cloud](https://user-images.githubusercontent.com/14915051/55519111-81fb3680-5644-11e9-8a66-8a18ccd96b46.png)

[2019-04-04 08:08] Lotayou commented on #4
![SMPL_template_UV_map_cloud](https://user-images.githubusercontent.com/33449901/55539646-ba0d8280-56f3-11e9-93dc-f293717a5d42.png)

Works perfectly! Thanks a lot for your help! Closing this issue now.

[2019-04-04 13:03] Lotayou commented on #4
@radvani  You are absolutely right that texcoords and vertices are not in one-to-one correspondance. But what's puzzling me is that even **the same texture vertex could also correspond to multiple 3D vertices**, as shown here:
![image](https://user-images.githubusercontent.com/33449901/55556383-0b306d00-571a-11e9-9b3d-4b4737246214.png)

There are five such points in total: `[4085, 4088, 4107, 4108

[2019-04-04 13:28] radvani commented on #4
That's interesting, my first guess it that the online OBJ converter you're using is trying to minimize the number of unique texture coordinates using too large of an epsilon, causing it to merge together texture coordinates that are in fact distinct.

The reason this can happen is that the FBX format actually doesn't even __define__ a mapping between texture coordinates and vertices. It just defin

[2019-04-04 14:25] Lotayou commented on #4
Sure, you can find the FBX file via [this link](https://drive.google.com/file/d/12s9KYF6cakBG3zzPYK34d8s64huUYY1G/view?usp=sharing), it contains three animations, I used this one:
`mtllib mosh_cmu_0511_f_lbs_10_207_0_v1.0.2.obj.mtl`
but I'm afraid that all three files are female (judging by the name)...

![image](https://user-images.githubusercontent.com/33449901/55562362-59e40400-5726-11e9-8e60-9

[2019-04-04 14:48] radvani commented on #4
That sounds good. Actually the OBJ I pasted above (converted from FBX) which didn't do any texture coordinate minimization (and therefore had 41319 texture coordinates), looks quite a bit different from yours. Most of this is probably due to the fact that I used per-corner normals instead of per-vertex, but it goes to show how the conversion can really make an impact.

<img width="457" alt="online

[2019-04-04 15:06] Lotayou commented on #4
The two models actually looks quite the same to me, apart from the shades... perhaps my eyes are not that sensitive to naked female bodies (lol).
I opened my obj and your obj models together in meshlab, apart from a global translation I think they are actually the same...
![image](https://user-images.githubusercontent.com/33449901/55566358-18efed80-572e-11e9-96df-cd990fe8310a.png)

[2019-04-04 16:16] radvani commented on #4
Haha you're right they're quite the same on the surface, it's just the normals and (probably) the texture coordinates that are different.

[2019-04-06 10:49] Lotayou commented on #4
BTW, did you notice that in the fbx file there are only 41319 // 3 = 13773 faces, where in the original mesh there are actually 13776 faces? I guess the face 1-1 correspondance is not valid as well...
![image](https://user-images.githubusercontent.com/33449901/55668242-b61b6500-5899-11e9-8ea4-eacc65c12bb3.png)
If the .fbx file is incorrect, I would have to use LSCM to calculate the UV mapping myse

[2019-04-06 15:46] Lotayou commented on #4
@radvani **I think we can draw the conclusion on this issue, but I still feel safer if you can double check my findings below:**

Today I converted the fbx file into .ply format, which generates completely different results:
![image](https://user-images.githubusercontent.com/33449901/55671270-ffcb7600-58c0-11e9-8e5b-6bc6686575d9.png)

Some of the original 6890 vertices are duplicated, making a tot

[2019-04-06 18:04] radvani commented on #4
Interesting! Yes, I'll take a look on Monday and see if my results are similar to yours.

[2019-04-08 14:31] Lotayou commented on #4
@radvani Hey, I managed to retrieve some information from the .fbx file with both FBX C++ SDK and Python SDK, but the results seem weird:

**For python results**
It seems that each "polygon" contains 4 vertices... You can refer to the zip for my test fbx and parsed results (The visualization script is a direct modification from `FBX Python SDK\2019.0\samples\ImportScene`. I suppressed some redunda

[2019-04-08 14:59] radvani commented on #4
Hey! I noticed the same thing regarding the use of quads instead of triangles, so I run it through the FBX SDK's triangulator. You can do this like so:

[code]
Where the scene is your root FbxScene, and fbxManager is your FBXManager. This is using the C++ FBX SDK. I can send over my conversion code soon I'm just cleaning it up a bit.

I'm going to check on my vertex count now...

[2019-04-08 15:01] radvani commented on #4
Pre-triangulation, I'm getting 6890 vertices, and 6900 polygons (quads). Post-triangulation, I get 6890 vertices and 13773 polygons (triangles).

[2019-04-08 15:10] radvani commented on #4
Here's an example I ran against an SMPL file. I'm still wrapping my head around what these UV maps are _supposed_ to look like. Do you see the same color inconsistency here? How do you identify if the UV map looks correct?

![output-alignment](https://user-images.githubusercontent.com/14915051/55735386-38696d80-59ef-11e9-963b-483fb017fc2f.png)
![position_map](https://user-images.githubusercontent.

[2019-04-08 15:46] radvani commented on #4
Attached is my C++ FBX to OBJ converter. It's meant to run on a Mac but you can get it to run on Linux pretty easily by just changing the log function it's using at the top of the implementation file. Most of the magic happens in VROFbxToObjConverter::convertToObj. Before that it's just a lot of setup.

I ripped this out of a library I have that does more generalized FBX export (e.g. skeletal anim

[2019-04-09 14:13] radvani commented on #4
Ok I think I see what you mean by the color maps being off. When I render just the X values to the scatter plot -- encoding X in the 'R' channel of the UV map, and leaving G and B at zero -- I would expect red to increase from left to right (for my model, where arms are outstretched and the character is facing the camera), but it doesn't. See first image.

However, when I do this same thing using

[2019-04-09 22:52] radvani commented on #4
Update: the issue appears to be that the SMPL models we generate at runtime (through smpl_torch_generator.py) __do not match__ the template SMPL from which we derived the UV coordinates.

More specifically, we rely on the correspondence from the texcoord indices to the vertex coord indices to be identical in both the template SMPL and the runtime SMPL. We require this so that we can iterate throug

[2019-04-09 23:43] radvani commented on #4
Ok, so I had a 3D modeling friend create a new 2D UV map for us. This is not the same as the template SMPL UV map (the parts are arranged in different places) but it does maintain the correspondence between the runtime SMPL and the template SMPL. The results on running it from a generated SMPL model are shown here (ignore the fact that my model is poorly aligned, that's a separate bug).

![output-

[2019-04-09 23:47] radvani commented on #4
To use this one, use get_SMPL_UV_map on the OBJ I attached here, then run create_UV_position_maps as normal... just make sure you delete the barycentric coordinate cache file first!

[template.obj.zip](https://github.com/Lotayou/densebody_pytorch/files/3061367/template.obj.zip)

[2019-04-11 09:24] Lotayou commented on #4
That’s very inspiring news! I should have thought about it when I first notice the difference between UV maps from SMPL templates and generated meshes. It’s really nice to have a working UV maps though. I will merge this into the current framework ASAP. This could be the game changer for our projects:)

[2019-04-14 13:12] Lotayou commented on #4
@radvani I just finished baseline training with some interesting results. I've sent you an email at `radvani@viromedia.com` to discuss about my findings. Just wanna holla at you in case my email get spammed:)

[2019-04-15 02:48] ypflll commented on #4
@Lotayou Good job.
But seems your SMPL's UV map is not extracted correctly and I am not sure where is the problem. The way I extract it seems simple. Here are some details maybe help:
1. I load basicModel_f_lbs_10_207_0_v1.0.2.FBX;
2. Then got 6900 quadrilateral and cut them into  triangles(13776);
3. Some vertices correspond to more than one(4 at most) position on the UV map.
My rendered UV map i

[2019-04-15 03:24] radvani commented on #4
We actually tried that, but the UV map extracted from the FBX templates doesn't share the same vertex to texture coordinate mapping as the meshes produced by the SMPL generator at runtime (see comments above).

Is there a way you know of to make that work?

[2019-04-15 07:22] ypflll commented on #4
@radvani I tried your code. I see that you use FbxGeometryConverter to triangulate the mesh which I didn't use. Instead I get 6900 quads and save each quad into 2 triangles manually. The index is got by GetPolygonVertex.
I'm not very sure which is the right way to triangulation, but maybe you can have a try with my method.

[2019-04-15 08:08] Lotayou commented on #4
@ypfill This result actually looks promising. However I wonder if it will work on synthesized 3D mesh too, besides the SMPL template. Do you wanna share a converted .obj file or a processing script so I can acquire the aforementioned triangulation result? You can either attach it here or send me an email via `lingbo@pku.edu.cn`. Many thanks.

[2019-04-15 08:50] ypflll commented on #4
@Lotayou Sorry that I can't share code or data for some reason. Any discussion is welcomed.

[2019-04-15 08:52] Dorniwang commented on #4
@ypflll Hi, your job seems good! I wonder which coordinate system of body vertices is used to be as the uv position map's pixel rgb value. Cause i use coordinate system of image and get the same uv position map as radvani get. Maybe you use the world coordinate system, i guess?

[2019-04-15 08:55] Dorniwang commented on #4
@radvani Hi, I have get the same uv position map as your firstly got, and i use it to get almost right coordinates of body in image. But the uv position map does seems weird.

[2019-04-15 11:17] ypflll commented on #4
@Dorniwang We use coordinates aligned in the image plane.

[2019-04-15 11:56] Lotayou commented on #4
**@ypflll** It's all right. It just that something doesn't add up according to your descriptions:

1.  There are two different ways to split a quad into two triangles, I wonder how you determine that?
2. I got the same 6900 quads as you, but 6900 * 2 =13800 > 13776. How do you manage to get exactly 13776 faces?

BTW, did you use my script for UV map generation or you write it on your own?

[2019-04-15 12:07] Dorniwang commented on #4
@Lotayou Hi, some quads (about 24 ) in SMPL only has three vertices, so the total number of triangles after split is just 13776. But I has the same question about how to split it, because I had done this half month ago, but i did not get the right triangles, and the index of triangles is only for control point, which is model vertices, and has no enough information about map between vertex and uv.

[2019-04-15 12:50] ypflll commented on #4
@Lotayou
1.I don't think that how to cut the quad matters. Say the vertice index is (0,1,2,3), I use (0,1,2) and (2,3,0).
2. As @Dorniwang said, not all 6900 faces are quads, some are triangles.
Besides, the mapping mode I get is eByPolygonVertex.

[2019-04-17 08:30] Lotayou opened #15 "[ARCHIVED] Drop some images for readme.md"
![039_00399](https://user-images.githubusercontent.com/33449901/56272849-2a71c600-612e-11e9-928f-e03c365f4e9c.png)

[2019-04-17 08:31] #15 closed, assigned to nobody

[2019-04-17 08:45] Lotayou commented on #15
![UV_position_map_0](https://user-images.githubusercontent.com/33449901/56273845-2d6db600-6130-11e9-817b-0774f71cc4ec.png)
![UV_position_map_1](https://user-images.githubusercontent.com/33449901/56273865-36f71e00-6130-11e9-913d-32a036ebff1d.png)

[2019-04-17 09:11] Lotayou commented on #15
![048_01749](https://user-images.githubusercontent.com/33449901/56275710-cce07800-6133-11e9-9507-cfc347a51006.png)

[2019-04-17 09:49] Lotayou commented on #15
![040_00999](https://user-images.githubusercontent.com/33449901/56278589-167f9180-6139-11e9-9b86-e14a68bfc7a5.png)
![recon_mesh](https://user-images.githubusercontent.com/33449901/56278598-1a131880-6139-11e9-9cfa-6e3001ddf1e4.PNG)

[2019-04-17 10:05] Lotayou commented on #4
@ypflll @radvani @Dorniwang Good news guys, I've successfully parsed SMPL original UV maps! The trick is to use Blender software for fbx2obj conversion, which is way easier than that cryptic FBX-SDK. After that, run `data_utils/triangulation.py` to acquire correctly triangluated UV texture map. Feel free to try it out guys:)

[2019-04-17 12:59] radvani commented on #4
Nice job! I tried it out and it worked on my end.

[2019-04-17 14:31] Dorniwang commented on #4
@Lotayou Amazing! I'll try it!

[2019-04-18 07:00] Dorniwang commented on #4
@Lotayou Usinig the new uv map, I have got the right uv position map! That's greate!

[2019-04-19 04:18] zhou07 opened #18 "Can't download human36m dataset"
I can't download human36m dataset by the link provided in https://github.com/MandyMo/pytorch_HMR .  So can you provide the link?

[2019-04-20 10:55] Lotayou commented on #18
Sorry pal, this dataset is licensed and only free for academic uses only, please check out the license agrrement [here](http://vision.imar.ro/human3.6m/eula.php). You have to turn to other people for help I'm afraid:)

[2019-04-20 10:55] #18 closed, assigned to nobody

[2019-04-22 03:59] pacifinapacific opened #20 "Can I use other datasets?"
Thank you for your hard work. Great job! I want to try your method, but I haven't got the human 3.6m dataset yet.
Can I try with other datasets like the SURREAL dataset or DenseposeCoCo?

[2019-04-22 08:08] Lotayou commented on #20
Of course! The densebody paper actually tested their method on three benchmark datasets: Human36m, SURREAL and UP-3D, and it is exactly part of my next plan to add support for other datasets. I guess SURREAL would be a good starting point, and the UV map format exactly matches my current support list, just make sure you turn `uv_map` options in training scripts to `smpl_fbx`.

However for Densepos

[2019-04-22 08:29] pacifinapacific commented on #20
Thank you very much. I wait for support for the SURREAL data set to be added!

[2019-04-22 09:16] pacifinapacific commented on #20
Thank you very much. Let's try a challenge with SURREAL dataset. And is it also possible to publish a trained parameter file?

[2019-04-23 06:35] Lotayou commented on #20
I'm afraid I can't release pre-trained model due to copyright reasons. You can just train your own model following the instructions, should be straight-forward. Good luck:)

[2019-04-29 03:11] jinx-USTC opened #21 "Some issues when we prepare dataset for generating UV ground truths"
you wrote "Download human36m dataset from the official website
Unpack downloaded zip files into a single folder (which I suggest you name it human36m) and put it under path-to-your-datasets"

But, where can we obtain these zip files / h5 files, the official website didn't provide these processed datasets. Can you provide the corresponding downloading website? Thank you.

[2019-04-29 10:32] hello-world-zsp opened #22 "lack of 'model_lsp.pkl' when preparing data"
Hi Lotayou,

Thanks for your work.

I'm following your steps to prepare my human3.6m data. I have got data washed successfully thanks to your script.

However, in PREPS.md - Create UV maps - 3. 'Run data_utils/triangulation.py'

[code]

It seems that we need to obtain **model_lsp.pkl** first. But this pickle didn't show up in previous steps. And this pickle is also required in Step 5 and 6. I'm wo

[2019-04-29 22:20] Lotayou commented on #22
Please refer to my previous [repo](https://github.com/Lotayou/SMPL) for more details.

Basically, you need to download SMPL official model, and convert necessary components into a new pickle. You can use preprocess.py to achieve this.

[2019-04-29 22:21] Lotayou commented on #21
https://github.com/MandyMo/pytorch_HMR

[2019-04-30 06:37] hello-world-zsp commented on #22
Thanks for your quick answer!

Now I'm trying to follow Step 5 to obtain my _model.pkl_.

But when I convert the SMPL official model , whose name is _'basicmodel_m_lbs_10_207_0_v1.0.0.pkl'_ , it returned a **KeyError: 'cocoplus_regressor'**.
The keys in basicmodel_m_lbs_10_207_0_v1.0.0.pkl are:
`dict_keys(['J_regressor', 'weights_prior', 'f', 'v_template', 'kintree_table', 'weights', 'posedirs', '

[2019-04-30 09:23] jinx-USTC commented on #22
Hi, can you share me the human3.6m dataset zip files? this link https://github.com/MandyMo/pytorch_HMR has expired. My email: 18829037099@163.com
Thanks~

[2019-04-30 09:28] jinx-USTC commented on #21
Thx, but the link has expired...

[2019-05-06 15:06] tszhang97 opened #23 "transfer created UV map to obj"
I think you may not save the color UV map as an image, when you save the image , you will loss much accuracy. Thus, when create obj from reading uv map image, the reslut is horrible. Also, I think you might try online augmentaion rather than saving washed images

[2019-05-07 07:29] penincillin opened #24 "Puzzles about create UV maps"
Hi, Lotayou.
There are two fpx SMPL models corresponding to male and female. So in the process of creating UV maps, which SMPL model is exactly used by you ?
Thanks

[2019-05-07 09:36] ZephirGe opened #25 "about the last fitting stage"
Can you provide the code about how to get SMPL parameter from the resampled mesh?

[2019-05-07 10:24] anl13 commented on #24
I think, both male and female models share the same texture topology, so there UV maps may be the same.

[2019-05-09 12:23] penincillin opened #26 "│ModuleNotFoundError: No module named 'models.vggnet_model'"
The default network architecture is vggnet in train.sh. However there is no vggnet_model.py. When I run `sh train.sh` I get this error message.

[2019-05-09 12:28] penincillin commented on #26
Wow, I just rename resnet_model.py as vggnet_model.py and the bug disappears, amazing

[2019-05-09 12:28] #26 closed, assigned to nobody

[2019-05-11 07:54] ypflll commented on #25
@ZephirGe You can use Bodynet's code to do this.
https://github.com/gulvarol/bodynet/blob/master/fitting/fit_surreal.py

[2019-05-22 23:57] #23 closed, assigned to nobody

[2019-06-02 13:02] zhou07 opened #27 "how can I use human3.6 dataset?"
I download human3.6 dataset from official website, but the data format is a .cdf file, how can I use human3.6 dataset for your work?

[2019-06-04 06:24] zhou07 opened #28 "I don't know how to use human3.6 dataset"
Hi Lotayou,

Thanks for your work.
I'm following your steps to prepare my human3.6m data, but I can't find the annotation which are called  center, gt2d, gt3d, height, imagename, pose, shape, smpl_joint, width, so which part I need to download from offical website of human3.6m dataset?
![1](https://user-images.githubusercontent.com/32354174/58856157-7a075380-86d4-11e9-9f82-01a0832901ab.png)

[2019-06-04 06:31] zhou07 commented on #22
Hello, when I download human3.6m dataset from it's offical website, but I can't find the annotation which are called center, gt2d, gt3d, height, imagename, pose, shape, smpl_joint, width, so which part I need to download from offical website of human3.6m dataset?

[2019-06-05 14:08] Lotayou commented on #28
Actually I'm using an unofficial dataset with pre-processed annotations. If you are interested in reproducing my experiments, leave me your email and I'll see what I can do.

[2019-06-08 06:39] zhou07 commented on #28
I am very interested in your work， and think this job is great and cool, so I want to reproduce the job. My email address is zlzhou77@gmail.com. Can you share the preprocessed dataset by other means such as BT seed?

------------------ 原始邮件 ------------------
发件人: "hello-world-zsp"<notifications@github.com>;
发送时间: 2019年6月5日(星期三) 晚上10:08
收件人: "Lotayou/densebody_pytorch"<densebody_pytorch@noreply.gi

[2019-06-08 06:39] zhou07 commented on #28
I am very interested in your work， and think this job is great and cool, so I want to reproduce the job. My email address is zlzhou77@gmail.com.

[2019-06-08 06:41] zhou07 commented on #28
I am very interested in your work， and think this job is great and cool, so I want to reproduce the job. My email address is zlzhou77@gmail.com.

[2019-06-08 07:14] Lotayou commented on #28
Check your email these days. This post will be erased soon.

[2019-06-08 07:14] #28 closed

[2019-06-08 07:17] zhou07 commented on #28
Ok. Thank you very much.

[2019-06-16 08:16] zhou07 opened #30 "No key called "joint_regressor""
Thank you for your hard work. Great job!
when I run the command `data_utils/triangulation.py` , I find the key called 'joint_regressor'  in smpl_torch_batch.py line 39 `for name in ['J_regressor', 'joint_regressor', 'weights', 'posedirs', 'v_template', 'shapedirs']:
      _tensor = getattr(self, name)` is not exited.
So I check the  SMPL official model `basicModel_neutral_lbs_10_207_0_v1.0.0.pkl`

[2019-06-17 05:13] Lotayou commented on #30
Okay, it seem you are using a model without cocoplus joint regressor. My mistake. Here's the [link](https://yadi.sk/d/vbxzaikms7y4pg) to a processed model.

[2019-06-17 08:29] zhou07 commented on #30
Thank you very much for your help!!!

[2019-06-18 06:50] wissalsayhi commented on #20
Your work is great, I would like to reproduce on a data set that I created by scanning people. my dataset has 200 different Human body obj file. I have the default uv maps. My main issue at this point is the annotation file. I don't have any idea how to reproduce it and fit my dataset to this code. Is it possible to do so?

[2019-06-18 09:04] gaizixuan0128 opened #31 "The file 'create_model.py' is empty"
Thank you for your hard work. It's really a great job!
I find that the ./models/create_model.py is empty. When could you upload the full code?
It would help me a lot. Thanks!!!

[2019-06-18 16:17] Lotayou commented on #31
It's redundant, you should be good to run the training script without it. Good luck pal.

[2019-06-18 16:17] #31 closed, assigned to nobody

[2019-06-18 16:29] Lotayou commented on #20
@wissalsayhi I think it's quite possible, however I can use a little more info here. Are these human body files textured? What's the uv map looks like? Better yet, if you don't mind send me a sample of your scanned dataset, maybe I can work out a decent solution with it. My email is lingbo AT pku DOT edu DOT cn.

[2019-06-19 01:23] LeifSun opened #32 "why"

[2019-06-19 01:24] LeifSun opened #33 "why"

[2019-06-19 01:24] #32 closed

[2019-06-19 01:24] #33 closed

[2019-06-19 01:30] LeifSun opened #34 "The shape is not the same in the training"
After I trained it several epoch ,The problem shows that ：
Traceback (most recent call last):
  File "nohup_train.py", line 120, in <module>
    visualizer.save_results(model.get_current_visuals(), epoch, i)
  File "/data/home/chenyu/data_utils/visualizer.py", line 48, in save_results
    resampled_verts = self.UV_sampler.resample(self.tensor2numpy(fake_UV))
  File "/data/home/chenyu/data_utils/uv

[2019-06-19 01:30] #34 closed, assigned to nobody

[2019-06-19 01:32] LeifSun opened #35 "why did the shape is not the same"
After I trained it several epoch ,The problem shows that ：
Traceback (most recent call last):
File "nohup_train.py", line 120, in
visualizer.save_results(model.get_current_visuals(), epoch, i)
File "/data/home/data_utils/visualizer.py", line 48, in save_results
resampled_verts = self.UV_sampler.resample(self.tensor2numpy(fake_UV))
File "/data/home/data_utils/uv_map_generator.py", line 409, in resa

[2019-06-20 07:05] Lotayou commented on #35
I'm afraid there is not enough information to pinpoint the issue... Personally I would suggest you ignore the issue and continue training from your last saved checkpoint, since the error seems to happen at result saving stage, which should not affect the training dynamics. You can try to catch the ValueError exception and print the shape of `vt_3d` to better diagnose the problem.

[2019-06-25 16:12] dytan commented on #20
@Lotayou Thanks for your work. I have gotten the h36m dataset but unable to get the Moshed label, so tried with the toy example, and noticed these image name or index inconsistent with the raw h36m set, is there some determinated relation between the two image index order?  And may I get the Mosh annotation from you? The email is  dytan95 AT alumni.sjtu.edu.cn. Thank you.

[2019-06-25 23:39] Lotayou commented on #20
@dytan Unfortunately no. I also found this toy dataset elsewhere and has no idea how these individual frames are sampled, as well as the generation of SMPL parameters. What a pity:)

[2019-06-26 03:42] dytan commented on #20
@Lotayou  Thanks to know that.

[2019-06-28 04:10] lxy5513 opened #36 "what data do I need to download in Human3.6M?"
@Lotayou
Thanks for your awesome work, I want train the human3.6M dataset, but I don't know what data do I need to download. Does the code need videos, pose, segments ? or I need download them all. Hope you can help me, thanks in advace.

![image](https://user-images.githubusercontent.com/39720528/60316409-f1ab6400-999c-11e9-8d31-6260d13c9e9b.png)

[2019-06-29 20:53] Lotayou commented on #36
Check the link in preps.md carefully...

[2019-06-29 20:53] #36 closed, assigned to nobody

[2019-06-30 14:01] zhou07 commented on #35
Hi,
I have the same problem in the train, and now, do you solve the problem?

[2019-06-30 14:02] zhou07 commented on #34
Hi,
I have the same problem in the train, and now, do you solve the problem?

[2019-07-01 11:55] gaizixuan0128 commented on #25
@ypflll
The Bodynet's code is about fitting SMPL to the volumetric results.
As for fitting SMPL to UV maps, we should first transform UV map to SMPL-type vertices, right? Do you know how to do this transformation? Thanks!

[2019-07-02 04:14] GuodongQi commented on #35
same problem,
the loss is larger and larger，and  the uv-map predicted is worse and worse.
![003_01499](https://user-images.githubusercontent.com/18243549/60482118-e3be5180-9cc2-11e9-8152-14024fedcc6f.png)

[2019-07-02 04:44] Lotayou commented on #35
Tune down learning rate may help, and remember, NEVER use TV loss as the paper claims, it only makes things worse

[2019-07-02 06:14] ypflll commented on #25
@gaizixuan0128 You can resample smpl vertices from UV map by interpolation.
Or you can directly use all valid vertices on the UV map(about 50k) as the fitting input, and this will make the fitting slower.

[2019-07-04 02:15] GuodongQi commented on #35
Hello, I set lr = 1e-5 (previously 1e-4 )，16 batch_sizae,  resenet backbone,  only l1 loss, other params(which locate in train.sh and train.py) are default.  The errors didnot appear during training.
After 70 epoch,  the training loss reduced from 0.28 to 0.244.  Actually， it reduced to 0.24 in 24 epoch,  and varied in 0.22-0.25 in remaining epoch.

Here is the example in 70 epoch.

![070_01999](h

[2019-07-04 02:25] Lotayou commented on #35
You are right, definitely learning rate too small:) The result you showcased looks like what I got after the first 2~3 epochs, and the result can be dramatically improved after this. Maybe you can try the so-called [Cycle-learning-rate](https://towardsdatascience.com/adaptive-and-cyclical-learning-rates-using-pytorch-2bf904d18dee). I've never tried that in my experiment but it seems a promising so

[2019-07-04 15:31] zhou07 commented on #35
Hello,
Do you have this problem that the shape is not the same when you train the model? If you have, can you share the methods to solve the problem?

[2019-07-04 15:32] zhou07 commented on #35
@GuodongQi
Hello,
Do you have this problem that the shape is not the same when you train the model? If you have, can you share the methods to solve the problem?

[2019-07-05 00:33] Lotayou commented on #35
@zhou07 @GuodongQi Guys I'm gonna close this issue for now since the subject matter we are discussing is not what the title suggests anymore. But feel free to open a new issue and discuss about the training tricks. Best of luck:)

[2019-07-05 00:33] #35 closed, assigned to nobody

[2019-07-05 04:11] GuodongQi commented on #35
yep, I have the problem which shows shape is not the same when i set lr=1e-4.  I think it is because the training became worse, and maybe predicted some bad value(such as nan, inf etc...), see my first comment.
When i turn down learn rate, there is no such problem, as my second comment show.  So I think it's not Human36M UV dataset but  training strategy matters.
At last, I suggest you change lr =

[2019-07-05 10:38] gaizixuan0128 commented on #25
thanks！I‘ll try it！

[2019-07-12 23:33] ananth-jauntxr commented on #20
Thanks for publishing the code :)

Any update on SURREAL dataset integration?

[2019-07-13 09:46] Lotayou commented on #20
@ananth-jauntxr Sorry to let you wait for so long:) I indeed tried to develop an interface for reading SURREAL dataset before, but it turns out SURREAL has a very different annotation format and I don't know how to interpret it... I've temporarily moved on to other research projects but will come back to this once I tie up all loose ends, thanks again for your attention and patience.

[2019-07-13 09:46] #20 closed, assigned to nobody

[2019-07-14 07:13] Maqingyang opened #37 "Could you attach your tested results and release pretrained model?"
You really did an exllent work! It helps me a lot.
However, I met some problems when reproducing the results and I don't know what score you have achived using this code.So, I really expect that you can attach the tested scores and release pretrained model.

[2019-07-15 02:32] tszhang97 commented on #25
@gaizixuan0128 Have you tried the BodyNet fitting code?  I've resampled 6890 smpl vertices, the fitting code also needs the 3D joints as input. Right?

[2019-07-15 14:54] LH-Abner opened #38 "no model.pkl"
Hello, I can not find the model.pkl  when I run the smpl_torch_batch.py. Could you tell me how to find it ?
Besides, there is  an 'indexerror: index 6890 is out of bounds for axis 0 with size 6890' when I run the triangulation.py, I do not know if the error is caused by the model.pkl, maybe there are some other mistakes? I put the 'for (i,line) in enumerate(lines):' modify to 'for (i,line) in enum

[2019-08-06 06:33] Rhyssiyan commented on #25
@willie1997 I think it's right. The fitting code in the bodynet takes the 3D joints as input which could be regressed from the resampled smpl vertices.

I have another question. I find that the fitting stage introduced in the paper needs scale s, rotation R, translation t. So do we still need to optimize theta,beta,s,R,t jointly if follows the densebody paper?

[2019-08-06 07:20] tszhang97 commented on #25
@Rhyssiyan I feel confused too. The objective function written in the paper uses the smpl model after s, R, t. The resampled result is the transformed vertices without the parameter s,R,T. But the output doesn't include the s,r,t. As far as I know, smpl model has a parameter for global rotation and trans and the 1st PCA of shape is related to the scale change. Maybe these are inlucded in the theta

[2019-08-06 12:33] Lotayou commented on #38
You must be using a wrong smpl_fbx file, make sure you download the .fbx  file from the official website, open it up with Blender software, and save as .obj format. The `model.pkl` is converted from the one on SMPL official website, make sure you register an account and download all necessary files first.

[2019-08-06 12:33] #38 closed, assigned to nobody

[2019-08-07 02:12] ypflll commented on #25
@willie1997 Camera paras are konwn on the testset.

[2019-08-07 02:19] tszhang97 commented on #25
@ypflll which means if the input is a  new image taken by myself without the cameara paras, we cannot use the fitting stage?

[2019-08-07 02:27] ypflll commented on #25
@willie1997 Absolutely you can optimize by adding extra camera paras, but I didn't tried this.
Maybe you can take a look at smpl-x or smplify-x.

[2019-08-07 04:44] Rhyssiyan commented on #25
Hi,@ypflll what do you mean by camera paras? Is it camera intrinsics?  if it's camera intrinsics, could you explain how to infer s,R,t from camera intrinsics? In my understanding s,R,t are obtained by aligning the predicted joints with the ground truth 2d,3d joints.

[2019-08-07 12:36] sosown123 opened #40 "Error about Create UV map Labels"
I follow the step to make an .obj file from basicModel_m_lbs_10_207_0_v1.0.2.fbx
but i got this error
![image](https://user-images.githubusercontent.com/49749924/62623176-d3993200-b952-11e9-8a95-c547a51d0200.png)
so i change the dimension of the verts but i get another error
![image](https://user-images.githubusercontent.com/49749924/62623231-f1669700-b952-11e9-96d3-df7ec1bee034.png)
Anyone can he

[2019-08-07 15:47] Amran2k16 opened #41 "UV map to SMPL model"
Hi,

Once i have the UV maps for the images after using create_uv_maps.py , how do i construct a SMPL model out of it?

[2019-08-08 08:27] GuodongQi opened #42 "some tips(advice) to better performance and UV-map performance"
Hello, i have tried your code and make some changes(tips) to perform better. Hope it would help：
1.  L1 loss weight . The L1 loss weight generated is wrong accrodding to your code and your uv-map-template after **dilation**. UV map shouldnot be dilated
2. TV loss. I added tv loss with corrected weights. The TV loss weights should smaller than L1 loss two order of magnitudes . The results showed it

[2019-08-08 10:06] tszhang97 commented on #42
@GuodongQi  would you like to share your modified code? And how to calculate the 3D joint? SMPL fitting or just multiple the joint regressor?

[2019-08-08 11:47] GuodongQi commented on #42
@willie1997  I am afraid not. The latter，just multiple the joint regressor.

[2019-08-12 08:57] gaizixuan0128 opened #43 "could not train a well-performed model..."
I have used the original code and the provided toy dataset and trained with enough time, but the predicted UV map I get seems wrong...
Does anyone encounter this problem? How to solve it? Thanks!

This is the UV map generated during the training process...(I have trained like, about 200 epochs...)
![202_01999](https://user-images.githubusercontent.com/24839231/62854537-30656580-bd22-11e9-9cd5-4704

[2019-08-19 01:31] liwenssss commented on #41
hi, @Amran2k16 , have you done it, I want to do it too

[2019-08-19 01:34] Amran2k16 commented on #41
Yeah, you need to use the resample function that can be found in the uv_map_generator python file. This file can be found in the data_utils folder and takes a uv map as input argument

[2019-08-19 02:04] liwenssss commented on #41
thanks for your response ,I will try later~

[2019-08-22 02:45] yuyifan1991 opened #44 "Is it support CUDA-16.04?"
Can I implement the project for CUDA-16.04?

[2019-08-22 09:44] liwenssss opened #45 "something wrong when I create .obj files when runngin data_utils/triangulation.py"
hello, @Lotayou
Thanks for your code!
When I follow your process. I down the SMPL for MAY, and Blender. Then I import the file basicModel_f_lbs_10_207_0_v1.0.2.fbx and export as untitled.obj. Then I down the file model_lsp.pkl from https://github.com/Lotayou/densebody_pytorch/issues/30#issuecomment-502537027 this issue.
But when I run data_utils/triangulation.py I got the error :
`
IndexError: ind

[2019-08-23 05:32] liwenssss commented on #41
hi, @Amran2k16 , I use create_UV_maps.py to generate some uv_map, and I use the resample function like this:
[code]
the uv_map is like this:
![frame0000](https://user-images.githubusercontent.com/11902259/63569032-36710700-c5aa-11e9-9f7a-51d67b641e59.jpg)
but it seem I got the wrong res, the generate obj file show like this:
![image](https://user-images.githubusercontent.com/11902259/63569081-6882

[2019-08-23 05:33] #45 closed, assigned to nobody

[2019-08-23 08:26] Lotayou commented on #37
I didn't really tested the MPJPE score, but I did visulize the result for some images in testing dataset. Including the one showcased on README. If you need to compute scores  it's better to write your own script for this purpose. Send me an email if you want to discuss more about the problems you've encountered.

[2019-08-23 08:28] Lotayou commented on #44
I haven't tested on CUDA-16.04 yet. You can follow the instructions and see if it works. Let me know if anything's wrong.

[2019-08-23 08:33] Lotayou commented on #43
Actually this is not bad. Maybe you should tweak the learning rate a little bit and see if that helps. Also, you can use some of the visualizing methods within `UV_Map_Generator` to resample the mesh from predicted UV coordinate maps.

[2019-08-23 08:42] Lotayou commented on #42
@GuodongQi  Thanks for the tips. Do you care to make a pull request?
Also I think it's perfectly normal for my implemetation to be worse than the paper reported, since I only used 1/100 of the h36m dataset (i.e. about 30K frames). If you have access to the full human36m data you can train a much better model.

[2019-08-23 08:45] Amran2k16 commented on #41
Can you try and use smpl_fbx_temate instead of the radvani ones and show me what results you get?

[2019-08-23 08:46] Lotayou commented on #40
Seems the issue has been resolved [here](https://github.com/Lotayou/densebody_pytorch/issues/45)

@liwenssss Care to tell us how you get it work?

[2019-08-23 08:51] liwenssss commented on #40
Sorry I DONT solve it. I just use the obj file from the first issue. If you feel it ok can you offer me the obj    File that can use in the process.

发自我的iPhone

------------------ Original ------------------
From: Lingbo Yang <notifications@github.com>
Date: Fri,Aug 23,2019 4:46 PM
To: Lotayou/densebody_pytorch <densebody_pytorch@noreply.github.com>
Cc: liwenssss <573014453@qq.com>, Mention <ment

[2019-08-23 08:59] Lotayou commented on #41
Hi @liwenssss I think you made a mistake here:
[code]

Maybe you should convert the uv_map to float between [0,1] first. Also, I would not suggest storing uv maps as jpg, since the lossy compression would change the coordinates. It's better to save them as lossless image format like png or bmp.

[2019-08-23 09:01] Lotayou commented on #40
Okay, @liwenssss Have you tried the female fbx file? Does it lead to the same isuue?

[2019-08-23 09:42] liwenssss commented on #40
Yes，I use both famale and male and got same error.

发自我的iPhone

------------------ Original ------------------
From: Lingbo Yang <notifications@github.com>
Date: Fri,Aug 23,2019 5:01 PM
To: Lotayou/densebody_pytorch <densebody_pytorch@noreply.github.com>
Cc: liwenssss <573014453@qq.com>, Mention <mention@noreply.github.com>
Subject: Re: [Lotayou/densebody_pytorch] Error about Create UV map Labels

[2019-08-23 10:41] liwenssss commented on #41
@Amran2k16 are you  it convenient to send me your generate smpl_fbx_temate file. Actually， I fail to generate it so that I use the radvani's. Maybe it is the reasaon.
@Lotayou , thanks for your advice , but it seems not the reason. I do the following change:
[code]
and get the res like this:
![image](https://user-images.githubusercontent.com/11902259/63587049-887b5200-c5d5-11e9-9757-bce067bd21cd.p

[2019-08-23 10:53] Amran2k16 commented on #41
@liwenssss Hi, what changes when you stop dividing your UV_map by 255? So
uv_map = uv_map.astype(np.float) this instead of uv_map = uv_map.astype(np.float) / 255.0.

[2019-08-23 10:59] liwenssss commented on #41
@Amran2k16 Hi, I tried. nothing changed.
[code]
and got print info:
Find cached pickle file...
0.0 254.0
(7670, 2)
7670
 Tensor J_regressor shape:  torch.Size([24, 6890])
 Tensor joint_regressor shape:  torch.Size([6890, 14])
 Tensor weights shape:  torch.Size([6890, 24])
 Tensor posedirs shape:  torch.Size([6890, 3, 207])
 Tensor v_template shape:  torch.Size([6890, 3])
 Tensor shapedirs shape:

[2019-08-23 11:11] Amran2k16 commented on #41
@liwenssss Sorry, not entirely sure what the issue is in that case. Maybe it might be the template issue, but i doubt it. Unfortunately I don't think i can send you the generate smpl_fbx_temate file due to the SMPL license.

As for generating it, these are the steps i took
1. Import SMPL FBX file into blender (You will need to get this file from SMPL website)
2. Export it as an obj file, using the

[2019-08-23 11:34] Lotayou commented on #41
@liwenssss This is quite odd. Seems your resampled mesh still looks like a person, so it's minor mistake... How about sending me an working example and I'll try it out on my machine?

[2019-08-23 11:35] liwenssss commented on #41
thanks your advice, I just successfully generate the smpl_fbx_template.obj. I find the reason is that I am not familiar with blender. I will try later to solve this and if I solve it I will tell you

------------------ 原始邮件 ------------------
发件人: "Amran2k16"<notifications@github.com>;
发送时间: 2019年8月23日(星期五) 晚上7:11
收件人: "Lotayou/densebody_pytorch"<densebody_pytorch@noreply.github.com>;
抄送: "李文盛"<57

[2019-08-23 11:37] liwenssss commented on #41
I just think maybe I do something wrong I dont notice. I will try to do it from the beginning process except the data generate process. I am not sure what file do you want.

------------------ 原始邮件 ------------------
发件人: "Lingbo Yang"<notifications@github.com>;
发送时间: 2019年8月23日(星期五) 晚上7:34
收件人: "Lotayou/densebody_pytorch"<densebody_pytorch@noreply.github.com>;
抄送: "李文盛"<573014453@qq.com>; "Mentio

[2019-08-23 11:48] Lotayou commented on #41
okay, good luck

[2019-08-26 03:23] Lotayou commented on #43
A pre-trained model has been released, please checkout the latest update.

[2019-08-26 03:23] #43 closed, assigned to nobody

[2019-08-27 01:51] liwenssss commented on #41
hi, @Amran2k16 ,have you met the following phenomenon when you generate SMPL model:
![image](https://user-images.githubusercontent.com/11902259/63734697-dd59e980-c8af-11e9-9453-b4880f80e819.png)
as we can see some bulge around the left hand and the right feet.
if you met it and solve it ,bother to tell me how? or any advice can you give me ?

[2019-08-27 12:44] plmsmile commented on #22
Hey dear coder, I have the same bug as yours. KeyError: 'cocoplus_regressor'. Did you solve it?
Now I am going to  train a densebody model, but i meet a lot problems. I want to discuss it with you if it's convenient for you. My wechat id is plmvisionary. Thank you.

[2019-08-27 23:50] Lotayou commented on #22
[This link](https://github.com/akanazawa/hmr/blob/master/doc/train.md) could be helpful, make sure you use the `neutral_smpl_with_cocoplus_reg.pkl`, since it contains `cocoplus_regessor`

[2019-08-28 06:50] plmsmile commented on #22
Thanks a lot, and I have solved this problem by your advice.

[2019-08-28 07:44] plmsmile commented on #38
There are many fbx files in the official site. I have tried `mosh_cmu_0511_f_lbs_10_207_0_v1.0.2.fbx`
, `basicModel_f_lbs_10_207_0_v1.0.2.fbx`. However, the index 6890 out of bounds bug is still there.
So which fbx file should be used, and could you share the  converted .obj file? Thank you a lot~

[2019-08-28 09:48] Amran2k16 commented on #41
Hi, I believe this is an issue of UV MAP size. I am guessing this was reshaped from a 256 * 256 image. Instead try to do it with a 512 * 512 image size. Also did you find that triangulation.py was not a necessary step if it was done in blender already?

[2019-08-28 10:25] tszhang97 commented on #41
![image](https://user-images.githubusercontent.com/39046939/63847453-5fd1ce80-c9c0-11e9-8493-ee4c1c4b7587.png)
this is my resample result.Some tips:
1. when normalize to [0,1], the result will be different from the groud truth
2. may not use dilate, this will cause those bugle
3. using bilinear interpolation rather than nearest integer. And find the nearest nonzero point if 4 nearing points all eq

[2019-08-28 10:28] Amran2k16 commented on #41
@willie1997  How did you manage to create UV maps without normalizing to [0,1]? And which part of the process did you use bilinear interpolation in exactly?

[2019-08-28 10:35] tszhang97 commented on #41
normalization is a problem which I haven't figured out. If you want to remain the correct propotion, my solution is  saving vmin and vmax.
 vt*256 will calculate a result like [150.22, 223.15], you can use the value of its nearest four points to interpolation. @Amran2k16

[2019-08-28 14:22] plmsmile opened #46 "No module named 'torch_batch_svd'"
`data_utils/batch_svd.py`
[code]
But i can not find the module and `No module named torch_batch_svd` error occurs.
So where can I install or find this module?

[2019-08-29 07:49] Lotayou commented on #46
[here](https://github.com/KinglittleQ/torch-batch-svd)

[2019-08-29 07:49] #46 closed, assigned to nobody

[2019-08-30 03:04] liwenssss opened #47 "sth strange when trainning"
hi, I modify the train.sh as :
[code]
and run about 16 hours(44 epoch), and at the end of log.txt shows:
[code]
the total have not changed much since the 5th epoch.
 and  the inter output is strange(44 epoch):
![image](https://user-images.githubusercontent.com/11902259/63990150-83f2f400-cb15-11e9-8ab9-e34c989d9e15.png)
I wonder if it it because the batch size is too small, since I have no enough G

[2019-08-30 13:58] Lotayou commented on #47
The model is definitely crashed... Seems you've activated the tv_loss and set the weight too high that the output tends to be over smooth and crashed at local minimum [1,0,0] and [0,1,1], leading to the blue and yellow pattern... does all predicted uv maps look like this?

I don't know what else did you change in `resnet_model.py`, but tv_loss is one of the things not to be messed with... Try swit

[2019-09-01 05:34] liwenssss commented on #47
I just remove dilate when generate uv map and set align_corners is True when upsample.And now when I trained again it got better. I will give the resaults later.

[2019-09-01 11:48] liwenssss commented on #47
when trained to epoch 22 iter 2749, the l1 loss was 1.736614 and the predicted uv map is :
![022_02749](https://user-images.githubusercontent.com/11902259/64075922-23b8a980-ccf1-11e9-944a-24bfc21a8dce.png)
but when it got epoch 22 iter 2999, the l1 loss was 8.662540 and the predicted uv map is :
![022_02999](https://user-images.githubusercontent.com/11902259/64075939-55ca0b80-ccf1-11e9-96fd-4cb0a9

[2019-09-01 15:08] Lotayou commented on #47
Interesting, looks like the training was successful. Random crash happens frequently in my experiments, could be a bad item in provided toy dataset but I’m not sure either. Anyway, I just load the last successful checkpoint and resume training whenever crash happens, not a big deal.

[2019-09-02 12:18] liwenssss commented on #47
yes, I tried to reload the latest better performanced checkpoint and continue to training. But I found the resample resault is ..emmm old question. so I wonder if my trained network make something wrong. I use the provided pre-trained model and got the following predicted uv map:
![200_00000](https://user-images.githubusercontent.com/11902259/64113819-e1a96980-cdbd-11e9-8428-bba0d32670ef.png)
but

[2019-09-06 06:38] #24 closed, assigned to nobody

[2019-09-06 07:23] #37 closed, assigned to nobody

[2019-09-16 05:31] UnrealPawn opened #48 "The shape of output .obj and .pkl is wrong"
Hi Lotayou,
Thank you for your work and detailed instructions.
I followed your steps to prepare Datasets and UV.
![image](https://user-images.githubusercontent.com/18569643/64935807-89329b80-d896-11e9-822f-55122dde7bad.png)

However I got wrong results on the model I trained by myself
and I also tested on your pre-trained model.
![image](https://user-images.githubusercontent.com/18569643/64935530-

[2019-09-16 05:34] UnrealPawn commented on #48
@Lotayou can you give me some advise?

[2019-09-16 06:17] Lotayou commented on #48
How many vertices and faces are there in your .obj file?
The pre-trained model isn't perfect, you may need to fine-tune it on your data, provided you have the matching annotations, that is. But anyway, I'll look into it when I have the time.

[2019-09-16 06:17] #48 closed, assigned to nobody

[2019-09-16 06:58] UnrealPawn commented on #48
@Lotayou Thank you very much for your timely response :D
there are 6890 vertices and 13776 faces
![image](https://user-images.githubusercontent.com/18569643/64938808-69a17000-d8a2-11e9-9222-cd005507049c.png)
And the smpl_fbx_template.obj looks fine, but all output .obj looks strange, should I try to make my own model_lsp.pk?
![image](https://user-images.githubusercontent.com/18569643/64938811-6dcd

[2019-09-16 07:32] UnrealPawn commented on #48
And I try to use UV map generated by (create_UV_maps.py) to reconstructe SMPL model. The shape like this :
![image](https://user-images.githubusercontent.com/18569643/64940383-2c8bac80-d8a7-11e9-922f-fba6699ee5da.png)

[2019-10-05 14:37] yongyct opened #49 "Issues with UV Map Generation and Subsequent SMPL Object Generation"
Hi,

I am trying out this repo, and am trying to generate a 3D SMPL model out of a 2D image using the "in-the-wild" mode.

I used the sample image found in the teaser folder, and the UV Maps & SMPL Model generated appears cranky.

![densebody_resnet200_00000](https://user-images.githubusercontent.com/53852395/66255928-b4d0e380-e7bb-11e9-8c7a-71c7946e9ebf.png)

![image](https://user-images.githubus

[2019-10-05 15:30] tszhang97 commented on #41
Good news! I finally fix the bug and resample a very smooth smpl model. The tip is remove the vts equal zero in v_to_vt list and only use the good verts .
![image](https://user-images.githubusercontent.com/39046939/66257162-1ac36800-e7c8-11e9-8688-8c046165a40e.png)

[2019-10-06 18:25] Piero-M opened #50 "body measurements"
congratulations on your work, is it possible to extract measurements from the mesh file?

[2019-10-08 14:37] LH-Abner commented on #40
I also get this error.But I have solved, I find the .obj file converted  from the Blender is wrong，the set in Blender made some mistakes. import ->Autodesk FBX(.fbx)  and  export ->wavefront(.obj)，maybe you could try it.

[2019-10-10 10:20] Lotayou commented on #49
It's weird to have such a distorted mesh. Can you try to create a UV position map from the template model, and use the `resample` method from `UV_Map_Generator` class to see if you can recover the regular T-pose?

[2019-10-10 10:22] Lotayou commented on #50
Yes it is possible, once you acquired the estimated UV map you can resample it back to a human mesh using `UV_Map_Generator::resample` function, then if you want to acquire the normal skeleton representation just multiply the [6890, 3] vertex matrix with the `joint_regressor` matrix stored in the official SMPL model.

[2019-10-10 10:22] #50 closed, assigned to nobody

[2019-10-10 13:08] Piero-M commented on #50
what would be the accuracy of the model?

[2019-10-10 13:38] Lotayou commented on #50
depend on your task. If it's for 3D pose estimation, just align the estimated joints with ground truth and report MPJPE

[2019-10-11 04:16] yongyct commented on #49
I think 1 issue was that the encoder/decoder weights that were provided were trained with the SMPL UV Map, hence there was a need to use [smpl template object](https://github.com/Lotayou/densebody_pytorch/issues/4#issuecomment-479301776) instead of [radvani template object](https://github.com/Lotayou/densebody_pytorch/issues/4#issuecomment-481480724).

I changed to using the smpl template object,

[2019-10-13 12:06] Lotayou commented on #49
It clearly makes more sense now. Although I found this network performs badly when dealing with images in-the-wild. In other words, the network fails to generalize to other images beyond human 36M. I think maybe incorporating a segmentation network would help resolve the issue.

[2019-10-15 08:47] yongyct commented on #49
Thanks a lot @Lotayou! I think I will close the issue now since the issue is more of an enhancement rather than a bug.

[2019-10-15 08:47] #49 closed, assigned to nobody

[2019-11-04 12:24] gaizixuan0128 commented on #41
@willie1997 Hello！Could you share your resample code？I have followed your tips，but still couldn‘t solve the bulge problem.

[2019-11-12 08:39] electronicliujiang opened #51 "how to configure pretrained model?"

[2019-11-12 14:47] electronicliujiang commented on #51
where is radvani_template.pickle  and model_lsp.pkl?
Can model_lsp.pkl be replaced by SMPLX_MALE.pkl?

[2019-11-13 01:55] electronicliujiang commented on #22
Hello, how to solve this problem? I have not found a related .pkl file

[2019-11-13 05:34] Lotayou commented on #51
Basically you need a SMPL model with additional pretrained-weights on Microsoft COCO dataset for 19-point skeleton inference from SMPL models. It should be a [6890*19] tensor. You can start by looking at [End-to-end Recovery of Human Shape and Pose](https://github.com/akanazawa/hmr)

For radvani_template.pickle, download provided .obj model from [FAQ page](https://github.com/Lotayou/densebody_pyto

[2019-11-13 05:34] #51 closed, assigned to nobody

[2019-11-15 06:17] electronicliujiang commented on #41
![image](https://user-images.githubusercontent.com/38310357/68920939-f2109400-07b1-11ea-9363-2f00fb094749.png)
hello!I don't have smpl_fbx_template file.so,I  use the radvani's.this is my result,do you know how cai i do or where to find  smpl_fbx_template file.I found this file is gone on the official website.

[2019-11-15 06:19] electronicliujiang commented on #41
@liwenssss
hello!I don't have smpl_fbx_template file.so,I use the radvani's.this is my result,do you know how cai i do or where to find smpl_fbx_template file.I found this file is gone on the official website.
![image](https://user-images.githubusercontent.com/38310357/68921194-d9ed4480-07b2-11ea-8f9d-ddea951d8980.png)

[2019-11-15 14:39] electronicliujiang opened #52 "shape mismatch: value array of shape (7521,3) could not be broadcast to indexing result of shape (7576,3)"
I am not sure if the smpl_fbx_template.obj file I generated is correct.
![image](https://user-images.githubusercontent.com/38310357/68951091-5eae8180-07f8-11ea-900a-495713370ffd.png)
![image](https://user-images.githubusercontent.com/38310357/68951046-50f8fc00-07f8-11ea-83b3-7248de58288a.png)
![image](https://user-images.githubusercontent.com/38310357/68951211-93223d80-07f8-11ea-9a8f-92205df6fd7b.

[2019-11-15 14:48] electronicliujiang commented on #52
![image](https://user-images.githubusercontent.com/38310357/68951960-fcef1700-07f9-11ea-9be2-2e590f573b34.png)

[2019-11-15 14:52] electronicliujiang commented on #52
v and vt do not match the size

[2019-11-20 01:31] 2294462474 commented on #22
https://people.eecs.berkeley.edu/~kanazawa/cachedir/hmr/models.tar.gz ,download and unzip

[2019-11-21 11:23] 2294462474 opened #53 "The scale of x,y,z in UV map is different"
_min = np.amin(verts, axis=0, keepdims=True)
        _max = np.amax(verts, axis=0, keepdims=True)
        verts = (verts - _min) / (_max - _min)``
![image](https://user-images.githubusercontent.com/25993171/69333811-648ee180-0c94-11ea-9298-65311c84079f.png)

I think here is wrong, the scale of x,y,z  is different

[2019-11-27 10:49] wine3603 opened #54 "Can I combine multiple images into one UV map for modeling?"
not an issue but a question, let's say if I have 4 cameras around the same person and can I put 4 images into the singe UV map and generate this person's better 3D model?

[2019-12-01 15:09] Lotayou commented on #15
![20191201_舞会](https://user-images.githubusercontent.com/33449901/69915878-fe257280-148e-11ea-9c7d-000057f468e5.png)

[2019-12-12 07:53] xinghuokang commented on #4
Hi, when I run data_utils/triangulation.py, it meets "**KeyError: 'joint_regressor**'"
model = SMPLModel(device=device,
                                   model_path='basicmodel_m_lbs_10_207_0_v1.0.0.pkl',
                                   data_type=data_type,
                                   simplify=True)
so, I can not generate smpl_fbx_template.obj

[2020-01-06 07:12] Google1234 opened #55 "GoogleDrive url not work"
HI,
The url(https://drive.google.com/open?id=1ssuUje20x1PS5qYwbg1AAloDsVwF1eTW) you provide not works now , can you update url? Thanks

[2020-01-11 10:04] AIdeveloper-oz opened #56 "Any solutions for extracting texture from the image and fitting to this model."
Hi, Thanks for sharing this amazing work. This will  strongly support my research. I need to develop a 3d model with the scanned image. This project has the first part of developing the skeleton. How can I add texture of the same image to this?

[2020-01-17 17:37] fliman opened #57 "How is the annotation_large.h5 generated from human 3.6M in data_washing.py?"
when I ran data_washing.py, it reported missing annotation_large.h5. How is this file generated? I use  https://github.com/anibali/h36m-fetch to preprocess human3.6m it only generated anno.h5 file for each subject.

[2020-01-23 07:37] mathpopo commented on #36
hi ,could you share the dataset?

[2020-01-23 09:41] Lotayou commented on #36
You need the original video and pose segmentation data, In addition you also need the mocap fitted SMPL mesh parameters in 24*3 format... I personally get the data from somewhere else (which has now expired), so you are on your own:P Thanks.

[2020-02-09 07:12] Lotayou commented on #57
Well I haven't any clue either :P. This annotation file comes from another project which is now expired.

[2020-02-09 07:12] #57 closed, assigned to nobody

[2020-02-09 07:13] Lotayou commented on #56
[MPI's work](https://www.researchgate.net/publication/335290763_360-Degree_Textures_of_People_in_Clothing_from_a_Single_Image)

[2020-02-09 07:13] #56 closed, assigned to nobody

[2020-02-09 07:16] Lotayou commented on #55
You can try the BaiduNet disk link with extraction code. The detail instruction is given in `PREPS.md`

[2020-02-09 07:16] #55 closed, assigned to nobody

[2020-02-19 06:55] Lotayou commented on #54
Yes, you can check [this repo](https://github.com/geopavlakos/TexturePose)

[2020-02-19 06:55] #54 closed, assigned to nobody

[2020-03-26 13:39] Lotayou commented on #15
![mmexport1584541278701](https://user-images.githubusercontent.com/33449901/77652828-d2804800-6fa9-11ea-98a7-dd54095e9d50.jpg)

[2020-03-27 03:27] Lotayou commented on #53
Great observation. I've not managed to solve this problem yet, since humans possess varying body shapes and builds, but should all be normalized to [0,1] for UV coordinate conversion in order to fuly utilize the RGB range. Think you have a better solution for this? Feel free to submit a PR:)

[2020-03-27 03:27] #53 closed, assigned to nobody

[2020-04-25 02:28] PerhapsThat commented on #41
hi,have u solved the problem? I have encontered the same bug as yours
![image](https://user-images.githubusercontent.com/25317600/80269130-8d058680-86df-11ea-9498-319d034198da.png)

[2020-12-09 13:20] onepiece666 commented on #40
maybe,we should delete the default cube in th software, then export the .obj file.

[2020-12-20 06:59] onepiece666 commented on #47
Later, I would report a mistake about every epoch.

[2021-09-03 11:29] gsygsy96 opened #58 "Invalid Link to Pretrained models"
Hi @Lotayou, thanks for your great effort! But I found the link to pretrained encoder and decoder cannot be reached. Would you mind reupload them again? Thanks!

[2021-11-10 01:52] 2a3b4c commented on #57
can you provide the link or paper about this expired project, thanks

[2022-05-14 18:04] minhphuv opened #59 "h36 toy to H36M original"
Hi Lotayou, thanks for your project and nice instructions.  I just want to ask that do you have the code to process the H36M downloaded from the original website. It seems that the code is made just for the toy dataset. Thanks